<div class="header">
  <div class="wrap">
    <!---start-logo---->
    <div class="logo">
      <a href="index.html">
        <img src="/assets/images/logo.png" title="logo" />
      </a>
    </div>
    <!---End-logo---->
    <!---start-top-menu-search---->
    <div class="top-menu">
      <div class="top-nav">
      </div>
      <!-- <div class="search">
        <form>
          <input type="text" class="textbox" value="Pesquisar:">
          <input type="submit" value=" " />
        </form>
      </div> -->
      <div class="clear"> </div>
    </div>
    <div class="clear"> </div>
    <!---End-top-menu-search---->
  </div>
  <!---End-header---->
</div>
