<div class="main-content">
  <div class="wrap">

    <div class="left-content">
      <div class="right-content-heading">
        <div class="right-content-heading-left">
          <h3>Lista de vídeos para download</h3>
        </div>
        <div class="right-content-heading-right">
        </div>
        <div class="clear"> </div>
      </div>

      <div class="content-grid">
        <a href="#">
          <img src="images/gridallbum9.png" title="allbum-name" />
        </a>
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
        <a class="button" href="#">Download</a>
      </div>
      <div class="content-grid">
        <a href="#">
          <img src="images/gridallbum10.png" title="allbum-name" />
        </a>
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
        <a class="button" href="#">Download</a>
      </div>
      <div class="content-grid">
        <a href="#">
          <img src="images/gridallbum11.png" title="allbum-name" />
        </a>
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>

        <a class="button" href="#">Download</a>
      </div>
      <div class="content-grid last-grid">
        <a href="#">
          <img src="images/gridallbum1.png" title="allbum-name" />
        </a>
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>

        <a class="button" href="#">Download</a>
      </div>
      <div class="clear"> </div>
